.movie-card {
  width: 19%;
  height: 55vh;
  background: #51557E;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 0 0.6rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.movie-card img{
  height: 70%;
  width: 100%;
  border-radius: 10px;
}
.movie-card:hover {
  transform: scale(1.05);
  transition-duration: 1s;
  
}

.movie-card h1 {
  margin: 10px 0px 37px 0px;
  height: 30px;
  font-size: larger;
}

.movie-card .movie-link a {
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.2);
}
.movies-container .movie-card .inner-section .start-section {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.start-section p {
  margin: 0px 6px;
  font-weight: bold;
}

.start-section svg {
  color: #e1c52f;
}

.movie-card .inner-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.movie-link:hover {
  text-decoration: underline;
}